In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

In [2]:
# Dataset load (CSV)
df = pd.read_csv('./result/manual.csv')
df.head()

,Description,tingkat_internasional,tingkat_nasional,tingkat_provkot,tingkat_kejuaraan,kode
0,_KlubDewa United Basketball Resmi Pindah Kanda...,0,0,0,provkot,0
1,Simak jadwal lengkap perhelatan BWF World Tour...,0,0,0,provkot,0
2,Berikut jadwal badminton 2023 yang dirilis ole...,0,0,0,provkot,0
3,Fajar Alfian/Muhammad Rian Ardianto lolos ke b...,0,0,0,provkot,0
4,\- Indonesian Basketball League (IBL) 2023 aka...,0,0,0,provkot,0

In [3]:
# df = df.iloc[1: , :]
col_names = ["Deskripsi","tingkat_internasional", "tingkat_nasional", "tingkat_provkot","tingkat_kejuaraan","kode"]
df.columns = col_names

df.head()

,Deskripsi,tingkat_internasional,tingkat_nasional,tingkat_provkot,tingkat_kejuaraan,kode
0,_KlubDewa United Basketball Resmi Pindah Kanda...,0,0,0,provkot,0
1,Simak jadwal lengkap perhelatan BWF World Tour...,0,0,0,provkot,0
2,Berikut jadwal badminton 2023 yang dirilis ole...,0,0,0,provkot,0
3,Fajar Alfian/Muhammad Rian Ardianto lolos ke b...,0,0,0,provkot,0
4,\- Indonesian Basketball League (IBL) 2023 aka...,0,0,0,provkot,0

In [4]:
df.shape

(397, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deskripsi              397 non-null    object
 1   tingkat_internasional  397 non-null    int64
 2   tingkat_nasional       397 non-null    int64
 3   tingkat_provkot        397 non-null    int64
 4   tingkat_kejuaraan      397 non-null    object
 5   kode                   397 non-null    int64
dtypes: int64(4), object(2)
memory usage: 18.7+ KB

In [6]:
df.isnull().sum()

Deskripsi                0
tingkat_internasional    0
tingkat_nasional         0
tingkat_provkot          0
tingkat_kejuaraan        0
kode                     0
dtype: int64

In [7]:
round(df.describe(),2)

       tingkat_internasional  tingkat_nasional  tingkat_provkot    kode
count                 397.00            397.00            397.0  397.00
mean                    0.03              0.34              0.0    0.21
std                     0.20              1.97              0.0    0.46
min                     0.00              0.00              0.0    0.00
25%                     0.00              0.00              0.0    0.00
50%                     0.00              0.00              0.0    0.00
75%                     0.00              0.00              0.0    0.00
max                     2.00             36.00              0.0    2.00

In [8]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.svm import SVC
from sklearn import preprocessing
clf = make_pipeline(StandardScaler(), SVC())

In [9]:
le = preprocessing.LabelEncoder()
# list(le.inverse_transform([2, 2, 1]))

In [10]:
le.fit(["Internasional", "Nasional", "Provkota"])

LabelEncoder()

In [11]:
list(le.classes_)

['Internasional', 'Nasional', 'Provkota']

In [12]:
le.transform(["Internasional", "Internasional", "Nasional", "Provkota"])

array([0, 0, 1, 2])

In [13]:
list(le.inverse_transform([0, 2, 1]))

['Internasional', 'Provkota', 'Nasional']

In [14]:
# View summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Deskripsi              397 non-null    object
 1   tingkat_internasional  397 non-null    int64
 2   tingkat_nasional       397 non-null    int64
 3   tingkat_provkot        397 non-null    int64
 4   tingkat_kejuaraan      397 non-null    object
 5   kode                   397 non-null    int64
dtypes: int64(4), object(2)
memory usage: 18.7+ KB

In [15]:
df.shape

(397, 6)

In [16]:
df.head()

,Deskripsi,tingkat_internasional,tingkat_nasional,tingkat_provkot,tingkat_kejuaraan,kode
0,_KlubDewa United Basketball Resmi Pindah Kanda...,0,0,0,provkot,0
1,Simak jadwal lengkap perhelatan BWF World Tour...,0,0,0,provkot,0
2,Berikut jadwal badminton 2023 yang dirilis ole...,0,0,0,provkot,0
3,Fajar Alfian/Muhammad Rian Ardianto lolos ke b...,0,0,0,provkot,0
4,\- Indonesian Basketball League (IBL) 2023 aka...,0,0,0,provkot,0

In [17]:
def kejuaraan(kodeCount: int) -> int:
  if (kode == 2):
     return 'Internasional'
 
  if (kode == 1): 
    return 'Nasional'
  
  if (kode == 0): 
    return 'Provkota'

In [18]:
df_rest = df.drop(['kode'], axis=1)
df_rest.head()

,Deskripsi,tingkat_internasional,tingkat_nasional,tingkat_provkot,tingkat_kejuaraan
0,_KlubDewa United Basketball Resmi Pindah Kanda...,0,0,0,provkot
1,Simak jadwal lengkap perhelatan BWF World Tour...,0,0,0,provkot
2,Berikut jadwal badminton 2023 yang dirilis ole...,0,0,0,provkot
3,Fajar Alfian/Muhammad Rian Ardianto lolos ke b...,0,0,0,provkot
4,\- Indonesian Basketball League (IBL) 2023 aka...,0,0,0,provkot

In [19]:
# Declare feature vector and target variable
X = df_rest.drop(['Deskripsi','tingkat_kejuaraan'], axis=1)
y = df_rest['tingkat_kejuaraan']

In [20]:
X.head(2)

   tingkat_internasional  tingkat_nasional  tingkat_provkot
0                      0                 0                0
1                      0                 0                0

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [22]:
X

     tingkat_internasional  tingkat_nasional  tingkat_provkot
0                        0                 0                0
1                        0                 0                0
2                        0                 0                0
3                        0                 0                0
4                        0                 0                0
..                     ...               ...              ...
392                      0                 0                0
393                      0                 0                0
394                      0                 0                0
395                      0                 2                0
396                      0                 0                0

[397 rows x 3 columns]

In [23]:
# check the shape of X_train and X_test

X_train.shape, X_test.shape

((317, 3), (80, 3))

In [24]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [125]:
cols = X_train.columns

AttributeError: 'numpy.ndarray' object has no attribute 'columns'

In [25]:
# cols = X_train.columns 
df.head()

,Deskripsi,tingkat_internasional,tingkat_nasional,tingkat_provkot,tingkat_kejuaraan,kode
0,_KlubDewa United Basketball Resmi Pindah Kanda...,0,0,0,provkot,0
1,Simak jadwal lengkap perhelatan BWF World Tour...,0,0,0,provkot,0
2,Berikut jadwal badminton 2023 yang dirilis ole...,0,0,0,provkot,0
3,Fajar Alfian/Muhammad Rian Ardianto lolos ke b...,0,0,0,provkot,0
4,\- Indonesian Basketball League (IBL) 2023 aka...,0,0,0,provkot,0

In [26]:
import re
def cleantext(text):
    text = re.sub(r'[\w\s]','',text,re.UNICODE)
    text.lower()
    text = " ".join(text)
    return text

In [27]:
internasional_indeks= ['motogp','asian games','aff','olimpiade','piala asia','bwf','nba','sea games','indonesia open','indonesia masters']
nasional_indeks= ['pon','piala presiden','liga 2','liga 1','liga 3','ibl','proliga','liga mahasiswa','liga mahasiswa','turnamen pramusim','pp pbsi','dbl','fiba']
provkota_indeks= ['airlangga challenge','tiga pilar']

In [28]:
clean = [internasional_indeks] + [nasional_indeks] + [provkota_indeks]

In [29]:
clean

[['motogp',
  'asian games',
  'aff',
  'olimpiade',
  'piala asia',
  'bwf',
  'nba',
  'sea games',
  'indonesia open',
  'indonesia masters'],
 ['pon',
  'piala presiden',
  'liga 2',
  'liga 1',
  'liga 3',
  'ibl',
  'proliga',
  'liga mahasiswa',
  'liga mahasiswa',
  'turnamen pramusim',
  'pp pbsi',
  'dbl',
  'fiba'],
 ['airlangga challenge', 'tiga pilar']]

In [30]:
inter = 0
nasional = 0
provkot = 0
def clean_text(text) :
    text = [word for word in text if word in internasional_indeks]

In [31]:
x = df.iloc[:,0:3].values
x =x.tolist()

In [32]:
text = x[0][0]
text

'_KlubDewa United Basketball Resmi Pindah Kandang ke Banten, Perbasi Tangerang\nSemringah_  \n  \n\n\\- Dewa United Basketball resmi berpindah kandang ke Banten pada IBL musim\n2023.\n\nTim berjuluk Anak Dewa itu pindah dari Surabaya, _homebase_ mereka sebelumnya.\n\nPerpindahan itu pun langsung disambut hangat oleh Pengurus Provinsi, Perbasi\nTangerang.\n\nKetua Pengprov Perbasi Tangerang Andri S Permana mengatakan kehadiran Dewa\nUnited Banten diharapkan membuat suasana perbasketan Tangerang semakin\nbergairah.\n\n"Untuk Dewa United yang sudah resmi berlabuh di Kota Tangerang, akhirnya kita\npunya harapan besar bahwa keberadaan Dewa United pasti mampu memberikan dampak\nlangsung bagi sektor perkembangan olahraga khususnya basket di Kota\nTangerang," ujar Andri.\n\n"Dewa United bisa menjadi katalis anak-anak muda yang ingin mempercayakan\nbasket sebagai media pembentukan karakter mereka, akhirnya mimpi mereka untuk\nmenjadi atlet profesional di Tangerang menjadi lebih terbuka dengan keberadaan\nDewa United," sambungnya.\n\nAndri pun menambahkan, dengan kehadiran Dewa United Banten tentu akan\nmendongkrak impian Perbasi Kota Tangerang untuk membangun iklim _sport\nindustry_ di wilayahnya.\n\nLebih lanjut, Perbasi Kota Tangerang memiliki impian berkolaborasi dengan Dewa\nUnited untuk membangun sport industry.\n\nHal itu bisa direpresentasikan melalui event-event olahraga terutama basket\nyang bisa menjadi daya tarik dalam sport tourism.\n\n"Dewa United sebagai organisasi yang sudah kukuh tentunya akan memberikan\ndampak sosial-ekonomi kepada masyarakat Kota Tangerang. Keberadaan Dewa United\ndiharapkan juga bisa membangun iklim sport industry yang bagus di Kota\nTangerang yang menjadi mimpi besarnya Pak Wali Kota Tangerang," ucap Andri.\n\n"Bahwa olahraga yang dikelola dengan baik akan menjadi industri, dan industri\nolahraga akan bisa menjadi destinasi wisata olahraga yang itu sangat\ndiharapkan oleh Pak Wali Kota agar berdampak kepada nilai ekonomi masyarakat,\nterutama UMKM yang ada di Kota Tangerang," pungkasnya.\n\n(Alfarizy/M39)\n\n '

In [33]:
import re

In [34]:
text = re.sub('[^A-Za-z0-9]+',' ',x[0][0])

In [35]:
for j in range(0,len(internasional_indeks)):
    print(text.count(internasional_indeks[j]))

0
0
0
0
0
0
0
0
0
0

In [36]:
index=[]
for x in range(0,len(text)):
     word = text[x]
     inte = 0
     nasional = 0
     prov = 0
     for n in range (0,len(clean)):
          for co in range(0,len(clean[n])):
               if n == 0 :
                    jumlah = word.count(internasional_indeks[co])
                    inte = inte + jumlah
               if n == 1:
                    jumlah = word.count(nasional_indeks[co])
                    nasional = nasional + jumlah
               if n == 2:
                    jumlah = word.count(provkota_indeks[co])
                    prov = prov + jumlah
     # data.iloc[:,0:1].append(inte)
     # data.iloc[:,1:2].append(nasional)
     # data.iloc[:,2:3].append(prov)
     index.append([inte,nasional,prov])

In [37]:
interr =[]
nass =[]
prvv = []
for m in range(0,len(index)):
    interr.append(index[m][0])
    nass.append(index[m][1])
    prvv.append(index[m][2])

In [38]:
Data = {'internasional_indeks' : interr ,
        'nasional_indeks' : nass,
        'provkota_indeks': prvv}

Data = pd.DataFrame(Data)
Data

      internasional_indeks  nasional_indeks  provkota_indeks
0                        0                0                0
1                        0                0                0
2                        0                0                0
3                        0                0                0
4                        0                0                0
...                    ...              ...              ...
1957                     0                0                0
1958                     0                0                0
1959                     0                0                0
1960                     0                0                0
1961                     0                0                0

[1962 rows x 3 columns]

In [140]:
x[0][0] = re.sub()

TypeError: sub() missing 3 required positional arguments: 'pattern', 'repl', and 'string'

In [105]:
y = ([i for item in lst for i in x[1].split()])

NameError: name 'lst' is not defined

In [39]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
# X_test = scaler.transform(X_test)

In [40]:
from sklearn.svm import SVC

## Instantiate the model
svc=SVC() 

## Fit the model
svc.fit(X_train,y_train)

SVC()

In [41]:
y_pred=svc.predict(X_test)

y_pred

array(['provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'nasional', 'provkot', 'nasional', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'nasional',
       'provkot', 'provkot', 'nasional', 'nasional', 'provkot', 'provkot',
       'nasional', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'nasional', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'nasional', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'nasional', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot', 'provkot', 'provkot', 'provkot', 'provkot',
       'provkot', 'provkot'], dtype=object)

In [42]:
# Check accuracy score
from sklearn.metrics import accuracy_score

print('Model accuracy score : {0:0.4f}'.format(accuracy_score(y_test, y_pred)))

Model accuracy score : 0.9750

In [145]:
X_test = pd.DataFrame(X_test, columns=[cols])

ValueError: Shape of passed values is (84, 3), indices imply (84, 4)

In [146]:
X_train.describe()

AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [43]:
# import SVC classifier
from sklearn.svm import SVC


# import metrics to compute accuracy
from sklearn.metrics import accuracy_score


# instantiate classifier with default hyperparameters
svc=SVC() 


# fit classifier to training set
svc.fit(X_train,y_train)


# make predictions on test set
y_pred=svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with default hyperparameters: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with default hyperparameters: 0.9750

In [44]:
# instantiate classifier with rbf kernel and C=1000
svc=SVC(C=1000.0) 


# fit classifier to training set
svc.fit(X_train,y_train)


# make predictions on test set
y_pred=svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with rbf kernel and C=1000.0 : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score with rbf kernel and C=1000.0 : 0.9750

In [45]:
# instantiate classifier with linear kernel and C=1.0
linear_svc=SVC(kernel='linear', C=1.0) 


# fit classifier to training set
linear_svc.fit(X_train,y_train)


# make predictions on test set
y_pred_test=linear_svc.predict(X_test)


# compute and print accuracy score
print('Model accuracy score with linear kernel and C=1.0 : {0:0.4f}'. format(accuracy_score(y_test, y_pred_test)))

Model accuracy score with linear kernel and C=1.0 : 0.9750