In [1]:
import pandas as pd
import joblib
dataset = pd.read_csv('result/manual.csv')
dataset.fillna(dataset.mean(), inplace = True)

C:\Users\RayRoyy\AppData\Local\Temp\ipykernel_15048\3572185158.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.fillna(dataset.mean(), inplace = True)

In [2]:
dataset

      Mati  Luka  KerugianBarang  KerugianUang  Pemerkosaan Keparahan
0      0.0     0             1.0  4.000000e+08            0     parah
1      0.0     0             1.0  0.000000e+00            0    rendah
2      0.0     1             1.0  4.000000e+08            0     parah
3      0.0     1     400000000.0  4.000000e+08            0     parah
4      0.0     1             1.0  1.000000e+00            0     parah
...    ...   ...             ...           ...          ...       ...
2213   8.0     1             0.0  1.000000e+09            0     parah
2214   1.0     0             0.0  0.000000e+00            0     parah
2215   1.0     0             0.0  0.000000e+00            0     parah
2216   1.0     0             0.0  0.000000e+00            0     parah
2217   0.0     4             0.0  4.000000e+00            0     parah

[2218 rows x 6 columns]

In [3]:
dataset=dataset.dropna(axis=0)

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2218 entries, 0 to 2217
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mati            2218 non-null   float64
 1   Luka            2218 non-null   int64
 2   KerugianBarang  2218 non-null   float64
 3   KerugianUang    2218 non-null   float64
 4   Pemerkosaan     2218 non-null   int64
 5   Keparahan       2218 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 104.1+ KB

In [5]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
dataset['Mati'] = LE.fit_transform(dataset['Mati'])
LE = LabelEncoder()
dataset['Luka'] = LE.fit_transform(dataset['Luka'])
LE = LabelEncoder()
dataset['KerugianBarang'] = LE.fit_transform(dataset['KerugianBarang'])
LE = LabelEncoder()
dataset['KerugianUang'] = LE.fit_transform(dataset['KerugianUang'])
LE = LabelEncoder()
dataset['Pemerkosaan'] = LE.fit_transform(dataset['Pemerkosaan'])
X = dataset.drop(['Keparahan'], axis = 1)
y = dataset['Keparahan']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [7]:
logreg = LogisticRegression(max_iter=3000, solver='lbfgs')
logreg = logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)

In [8]:
X_train.info()
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1774 entries, 1945 to 1653
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mati            1774 non-null   int64
 1   Luka            1774 non-null   int64
 2   KerugianBarang  1774 non-null   int64
 3   KerugianUang    1774 non-null   int64
 4   Pemerkosaan     1774 non-null   int64
dtypes: int64(5)
memory usage: 83.2 KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 1444 to 2111
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Mati            444 non-null    int64
 1   Luka            444 non-null    int64
 2   KerugianBarang  444 non-null    int64
 3   KerugianUang    444 non-null    int64
 4   Pemerkosaan     444 non-null    int64
dtypes: int64(5)
memory usage: 20.8 KB

In [9]:
print("Train acccuracy: ",logreg.score(X_train,y_train))
print("Test acccuracy: ",logreg.score(X_test,y_test))

Train acccuracy:  0.9470124013528749
Test acccuracy:  0.9617117117117117

In [10]:
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[360   0   1]
 [  0  60   0]
 [  2  14   7]]

In [11]:
cr = classification_report(y_test, y_pred)
print(cr)

              precision    recall  f1-score   support

       parah       0.99      1.00      1.00       361
      rendah       0.81      1.00      0.90        60
      sedang       0.88      0.30      0.45        23

    accuracy                           0.96       444
   macro avg       0.89      0.77      0.78       444
weighted avg       0.96      0.96      0.95       444